<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>微信安全支付</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {"appId": "wxa4eb4297ebde7f25",
                "timeStamp": "1414411784",
                "nonceStr": "23zl2fs9plmjnnh4i543k3hb3mk3nbn0",
                "package": "prepay_id=wx191528536295099e1efd87911757057700",
                "signType": "MD5",
                "paySign": "E8F3BE80E7789344A17630059FFB927F"
                },
                function(res){
                    // WeixinJSBridge.log(res.err_msg);
                    // console.log(res);
                    // alert(res.err_code+res.err_desc+res.err_msg);
                    alert(6666);
                }
            );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                // alert(111);
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
    </script>
</head>
<body>
    </br></br></br></br>
    <div align="center">
        <button style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >贡献一下</button>
    </div>
</body>
</html>