
<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<base href="http://www.gmzx.com/" />
<title>专题中心</title>
<meta name="keywords" content="广美整形专题,眼部整形,鼻部整形,颌面部整形,唇部整形" />
<meta name="description" content="广美整形项目专题中心，包括眼部整形,鼻部整形,颌面部整形,唇部整形" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/css/swiper.min.css" rel="stylesheet">
<link href="http://www.gmzx.com/css/gmzx/phone/public/common.css" rel="stylesheet" media="screen" type="text/css" />
<link rel="stylesheet" href="http://www.gmzx.com/css/gmzx/phone/ztItem/zhuantizhongxin.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist//css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>



</head>
<body>


 <div class="swiper-container ">
	<div class="my-pagination"></div>	
    <div class="swiper-wrapper">
			<div class="swiper-slide">
              	<div class="yanbu">
			         <span class="yanbu-text ziti"><em>	<img src="https://static.gmzx.com/images/phone/zhuanti/zt-item/zhuantizhongxin/yanbu.jpg" />&nbsp;三月强力推荐</em></span>
		                <ul>
		                  <li><a href="/xiangqing/2019322/gtlx/"><span class="btn-2">宫廷隆胸</span></a></li>
		                  <li><a href="/xiangqing/2019322/jgqb/"><span class="btn-2">激光祛斑</span></a></li>
		                  <li><a href="/xiangqing/2019322/hlslz/"><span class="btn-2">衡力瘦脸针</span></a></li>
		                  <li><a href="/xiangqing/2019322/whbzh/"><span class="btn-2">无痕鼻综合</span></a></li>
		                  <li><a href="/xiangqing/2019322/cls/"><span class="btn-2">PERK重脸术</span></a></li>
		                </ul>
			      </div>
			      <div class="yanbu">
				       <span class="bibu-text ziti"><em><img src="https://static.gmzx.com/images/phone/zhuanti/zt-item/zhuantizhongxin/bibu.jpg" />四月预告专题</em></span>
			                <ul>
			                  <li><a href="javascript:void(0)"><span class="btn-2">韩式假体隆鼻</span></a></li>
			                </ul>
			       </div>
            </div>
			<div class="swiper-slide">
			      	 <div class="yanbu">
		                <span class="chuzou-text ziti"><em><img src="https://static.gmzx.com/images/phone/zhuanti/zt-item/zhuantizhongxin/chuzou.jpg" />除皱抗衰</em></span>
		                <ul>
							<li><a href="javascript:void(0)"><span class="btn-2">敬请期待</span></a></li>
		                </ul>
		            </div>
            </div>
            <div class="swiper-slide">
			     <div class="yanbu">
				     <span class="quban-text ziti"><em><img src="https://static.gmzx.com/images/phone/zhuanti/zt-item/zhuantizhongxin/quban.jpg" />医学祛斑</em></span>
		                <ul>
		                  <li><a href="javascript:void(0)"><span class="btn-2">敬请期待</span></a></li>	
		                </ul>
				  </div>
            </div>
         	<div class="swiper-slide">
			     	<div class="yanbu">
		                 <span class="xiongbu-text ziti"><em><img src="https://static.gmzx.com/images/phone/zhuanti/zt-item/zhuantizhongxin/xiongbu.jpg" />胸部整形</em></span>
		                <ul>
		                  <li><a href="javascript:void(0)"><span class="btn-2">自体脂肪隆胸</span></a></li>
            </div>
		</div>
  </div>
</div>
<script type="text/javascript" src="http://www.gmzx.com/js/SuperSlide2.1/jquery.SuperSlide.2.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/js/swiper.min.js"></script>
<script type="text/javascript">
	var mySwiper = new Swiper('.swiper-container',{
		calculateHeight : true,
		paginationClickable: true,
		autoHeight: true, //enable auto height
		pagination: '.my-pagination',
		paginationClickable: true,

		loop : true,

		paginationBulletRender: function (index, className) {
			switch (index) {
			  case 0: name='面部整形';break;
			  case 1: name='面部微整形';break;
			  case 2: name='激光美肤';break;
			  case 3: name='整形修复';break;

			  default: name='';
			}
			return '<span class="' + className + '">' + name + '</span>';
		}
	})
</script>	
</body>
</html>